body {
    display: flex;
    justify-content: center;
}

.calculator-grid {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

.calculator-grid>button {
    cursor: pointer;
    height: 40px;
    width: 40px;
      font-size: 1rem;
      border: 1px, solid #FFFFFF;
      outline: none;
      background-color: rbga(255, 255, 255, 0.75);
}

.calculator-grid>.wide {
    grid-column: span 2;
    width: 80px;
}

#screen {
    background: red;
    width: 100px;
    height: 80px;
    margin: auto;
    z-index: 20;
}